# Basic SQL 

A simple database to be able to write simple SQL statements.

### SQL Statements: get the informations

Only one SQL statement / information!

# Fresh Database:
- https://github.com/lerocha/chinook-database/tree/master/ChinookDatabase/DataSources (Chinook_Sqlite.sql)

In [ ]:
# sqlite connector in Python
import sqlite3

In [ ]:
def sqlite_table_schema(conn, name):
    """Return a string representing the table's CREATE"""
    cursor = conn.execute("SELECT sql FROM sqlite_master WHERE name=?;", [name])
    sql = cursor.fetchone()[0]
    cursor.close()
    return sql

# the database connection
with sqlite3.connect('chinook.db') as conn:
    print("Opened database successfully")

# all tables
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = []
    for row in cursor:
        table_names.append(row)
        
#https://www.alixaprodev.com/2022/03/python-to-get-database-column-names.html
    for row in table_names:
        
        # https://www.delftstack.com/howto/python/tuple-to-string-python/
        transform = ''.join(row)
        
        exe = "SELECT * FROM {};"
        cursor = conn.execute(exe.format(transform))
        names = list(map(lambda x: x[0], cursor.description))
        print("\nNom de la table: " + transform + "\n")
        print("A complete table scheme : ")
        print(sqlite_table_schema(conn, transform), "\n")
        print(" Et voici chaque colonnes:")
        for columns in names:
            print(" - " + str(columns))
    print("Operation done successfully")

# Afficher tous les albums

# Display all albums

In [ ]:
with sqlite3.connect('chinook.db') as conn:
    cursor = conn.execute("SELECT Title FROM albums;")
    #names = list(map(lambda x: x[0], cursor.description))
    print("Albums:")
    for row in cursor:
        print(row)
# The SQL: SELECT * FROM albums;

# Display all the albums with "Great" in title

# Récupérer tous les albums dont le titre contient "Great"

In [ ]:
with sqlite3.connect('chinook.db') as conn:
    cursor = conn.execute("SELECT Title FROM albums WHERE Title LIKE '%Great%';")
    for row in cursor:
        print("Album title: ", row[0])

# Give the total album's number in database (but not looking at the Id with sqlite3 GUI)

# Donner le nombre total d'albums contenus dans la base (sans regarder les id bien sûr)

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT COUNT(AlbumId) FROM albums;")
    print("Dans la base de données on a " + str(cursor.fetchall()[0][0]) + " albums.")

# Delete containing "music" in the title albums

# Supprimer tous les albums dont le nom contient "music"

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT Title FROM albums WHERE Title LIKE '%music'")
    for row in cursor:
        print(row[0])
    try:
        cursor = conn.execute("DELETE FROM albums WHERE Title LIKE '%music'")
        cursor = conn.execute("SELECT Title FROM albums WHERE Title LIKE '%music'")
        print(cursor.fetchall()[0][0])
    except:
        print("error")

# DELETE FROM albums WHERE Title LIKE '%music' DEFERRABLE INITIALLY DEFERRED FOREIGN KEY; ?

# AC/CD albums in the database

# Récupérer tous les albums écrits par AC/DC

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT Title FROM albums INNER JOIN artists ON albums.ArtistId = artists.ArtistId WHERE name LIKE '%AC/DC';")
    for row in cursor:
        print(row[0])

# Or this method:
# SELECT * FROM albums NATURAL JOIN artists WHERE name = 'AC/DC' -> les colonnes ont le même nom
# SQL natural join: here it's only possible because in 'albums' and 'artists' tables, 
# they have a column who's named 'ArtistID', now it's possible to select rows with 'AC/DC' (for 'name''s column)

# AC/DC's album's titles

# Récupérer tous les titres des albums de AC/DC

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT tracks.name FROM artists INNER JOIN albums ON albums.ArtistId = artists.ArtistId INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId WHERE artists.Name LIKE '%AC/DC';")
    for row in cursor:
        print(row[0])

# Differents methods:

#SELECT tracks.Name from tracks where tracks.AlbumId in (SELECT AlbumId from albums natural join artists where artists.Name = 'AC/DC')

#SELECT * FROM albums, artists, tracks WHERE albums.ArtistId = artists.ArtistId AND albums.AlbumId = tracks.AlbumId AND artists.Name ='AC/DC';

#SELECT tracks.Name
#FROM albums, artists, tracks
#WHERE albums.ArtistId = artists.ArtistId AND artists.Name = 'AC/DC' AND albums.AlbumId = tracks.AlbumId

# "Let There Be Rock" titles list

# Récupérer la liste des titres de l'album "Let There Be Rock"

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT tracks.Name from albums natural join tracks where albums.Title = 'Let There Be Rock';")
    for row in cursor:
        print(row[0])
        

# Alternatives:         
        
#SELECT tracks.name 
#FROM albums 
#INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId 
#WHERE albums.Title LIKE '%Let%There%be%Rock%';


#SELECT Title, Name 
#FROM albums, tracks 
#WHERE albums.AlbumId = tracks.AlbumId AND Title LIKE "Let There Be Rock";

#SELECT tracks.Name
#FROM albums, artists, tracks
#WHERE
#  albums.ArtistId = artists.ArtistId AND
#  artists.Name = 'AC/DC' AND
#  albums.AlbumId = tracks.AlbumId AND
#  albums.AlbumId = 4

# Display the price of the album and duration

# Afficher le prix de cet album ainsi que sa durée totale

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT SUM(tracks.UnitPrice), SUM(tracks.Milliseconds) FROM albums NATURAL JOIN tracks WHERE albums.Title = 'Let There Be Rock';")
    for row in cursor:
        print("Price: " + str(row[0]) + "Pound")
        print("Duration: " + str(row[1]) + " Milliseconds")

        
# Alternatives:         

#SELECT sum(tracks.UnitPrice), sum(tracks.Milliseconds)
#FROM albums
#INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId 
#WHERE albums.Title LIKE '%Let%There%be%Rock%' ;


#SELECT 
  #albums.Title,
  #sum (tracks.UnitPrice),
  #sum (tracks.Milliseconds)
#FROM albums, artists, tracks
#WHERE
#  albums.ArtistId = artists.ArtistId AND
#  artists.Name = 'AC/DC' AND
#  albums.AlbumId = tracks.AlbumId and
#  albums.AlbumId = 4
#GROUP BY albums.AlbumId

# Cost of Deep Purple's total discography

# Afficher le coût de l'intégralité de la discographie de "Deep Purple"

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("SELECT SUM(tracks.UnitPrice) FROM artists INNER JOIN albums ON albums.ArtistId = artists.ArtistId INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId  WHERE artists.Name LIKE '%Deep%Purple';")
    for row in cursor:
        print("Discography total price: " + str(row[0]) + " Pounds")

# Make one album, artists, tracks of your favorite artist

# Créer l'album de ton artiste favori en base, en renseignant correctement les trois tables albums, artists et tracks

In [ ]:
with sqlite3.connect("chinook.db") as conn:
    cursor = conn.execute("INSERT INTO artists (name) VALUES ('Nightwish');") 
    cursor = conn.execute("INSERT INTO albums (Title, ArtistId) VALUES ('Once',  (SELECT ArtistId FROM artists WHERE name='Nightwish'));")
    cursor = conn.execute("INSERT INTO tracks (name,Milliseconds, UnitPrice, AlbumId, MediaTypeId, GenreId) VALUES ('Ghost Love Score', 602000, 0.99,(SELECT AlbumId FROM albums WHERE Title='Once'), (SELECT MediaTypeId FROM media_types WHERE name='AAC audio file'),(SELECT GenreId FROM genres WHERE name='Metal')) ;")
    cursor = conn.execute("SELECT name, Milliseconds FROM tracks WHERE Milliseconds LIKE '602000';")
    for row in cursor:
        print(row[0])

 
# Alternatives: 
#INSERT INTO albums (AlbumId, Title, ArtistId) VALUES(348, "(What's the Story) Morning Glory?", 276);
#INSERT INTO artists (ArtistId, Name) VALUES(276, "OASIS");
#INSERT INTO tracks (TrackId, Name, AlbumId, MediaTypeID, GenreID, Composer, Milliseconds, Bytes, UnitPrice) VALUES(3504, "Hello", 348, 0, 0, "Noel Gallagher", 201000, 0, 0.00);
#INSERT INTO tracks (TrackId, Name, AlbumId, MediaTypeID, GenreID, Composer, Milliseconds, Bytes, UnitPrice) VALUES(3505, "Roll with It", 348, 0, 0, "Noel Gallagher", 201000, 0, 0.00);
#INSERT INTO tracks (TrackId, Name, AlbumId, MediaTypeID, GenreID, Composer, Milliseconds, Bytes, UnitPrice) VALUES(3506, "Wonderwall", 348, 0, 0, "Noel Gallagher", 201000, 0, 0.00);
#
#INSERT INTO artists(Name) VALUES ('Laylow'); 
#INSERT INTO albums(Title, ArtistId) VALUES ('Etrange histoire de Mr.Anderson', (SELECT ArtistId from artists where Name = 'Laylow')); 
#INSERT INTO tracks(Name, MediaTypeId, Milliseconds, UnitPrice, AlbumId) VALUES ('Special', 1, 0, 0, (SELECT AlbumId from albums where Title = 'Etrange histoire de Mr.Anderson'));