Voici la liste de questions auxquelles tu dois r√©pondre :

    Question bonus : r√©ussir √† retrouver dans la base au moins 3 personnalit√©s que tu connais (indice) üòéüòéüòé

In [9]:
import sqlite3


def sqlite_table_schema(conn, name):
    """Return a string representing the table's CREATE"""
    cursor = conn.execute("SELECT sql FROM sqlite_master WHERE name=?;", [name])
    sql = cursor.fetchone()[0]
    cursor.close()
    return sql

# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")

# all tables
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = []
    for row in cursor:
        table_names.append(row)
        
#https://www.alixaprodev.com/2022/03/python-to-get-database-column-names.html
    for row in table_names:
        
        # https://www.delftstack.com/howto/python/tuple-to-string-python/
        transform = ''.join(row)
        
        exe = "SELECT * FROM {};"
        cursor = conn.execute(exe.format(transform))
        names = list(map(lambda x: x[0], cursor.description))
        print("\nNom de la table: " + transform + "\n")
        print("A complete table scheme : ")
        print(sqlite_table_schema(conn, transform), "\n")
        print(" Et voici chaque colonnes:")
        for columns in names:
            print(" - " + str(columns))
    print("Operation done successfully")

Opened database successfully

Nom de la table: source

A complete table scheme :
CREATE TABLE source (
  id INTEGER PRIMARY KEY,
  source TEXT
)

 Et voici chaque colonnes:
 - id
 - source

Nom de la table: status

A complete table scheme :
CREATE TABLE status (
  status TEXT,
  id INTEGER PRIMARY KEY
)

 Et voici chaque colonnes:
 - status
 - id

Nom de la table: country

A complete table scheme :
CREATE TABLE country (
  code TEXT,
  country TEXT,
  id INTEGER PRIMARY KEY
)

 Et voici chaque colonnes:
 - code
 - country
 - id

Nom de la table: address

A complete table scheme :
CREATE TABLE address  (
  address TEXT,
  countries TEXT,
  country_codes TEXT,
  id_address BIGINT PRIMARY KEY,
  source_id INTEGER
  ,FOREIGN KEY (source_id) REFERENCES source(id)
)

 Et voici chaque colonnes:
 - address
 - countries
 - country_codes
 - id_address
 - source_id

Nom de la table: intermediary

A complete table scheme :
CREATE TABLE intermediary (
  id INTEGER
	PRIMARY KEY
  ,name TEXT,
  source_id INTEGER,
  note TEXT,
  /* url TEXT, */
  id_address BIGINT,
  status_id INTEGER
  , url TEXT,FOREIGN KEY (id_address) REFERENCES address(id_address)
  ,FOREIGN KEY (source_id) REFERENCES source(id)
  ,FOREIGN KEY (status_id) REFERENCES status(id)
)

 Et voici chaque colonnes:
 - id
 - name
 - source_id
 - note
 - id_address
 - status_id
 - url

Nom de la table: entity

A complete table scheme :
CREATE TABLE entity (
  id INTEGER PRIMARY KEY,
  name TEXT,
  jurisdiction TEXT,
  jurisdiction_description TEXT,
  incorporation_date DATE,
  status TEXT,
  service_provider TEXT,
  source TEXT,
  note TEXT,
  id_address BIGINT,
  end_date DATE
  , url TEXT, lifetime INTEGER,FOREIGN KEY (id_address) REFERENCES address(id_address)
)

 Et voici chaque colonnes:
 - id
 - name
 - jurisdiction
 - jurisdiction_description
 - incorporation_date
 - status
 - service_provider
 - source
 - note
 - id_address
 - end_date
 - url
 - lifetime

Nom de la table: officer

A complete table scheme :
CREATE TABLE officer (
  id INTEGER
	PRIMARY KEY
  ,name TEXT,
  source_id INTEGER,
  note TEXT,
  country_id INTEGER
  ,FOREIGN KEY (country_id) REFERENCES country(id)
  ,FOREIGN KEY (source_id) REFERENCES source(id)
)

 Et voici chaque colonnes:
 - id
 - name
 - source_id
 - note
 - country_id

Nom de la table: assoc_officer_entity

A complete table scheme :
CREATE TABLE assoc_officer_entity (
  officer INTEGER,
  assoc_type TEXT,
  entity INTEGER,
  source_id INTEGER,
  start_date DATE,
  end_date DATE
  ,FOREIGN KEY (officer) REFERENCES officer(id)
  ,FOREIGN KEY (entity) REFERENCES entity(id)
  ,FOREIGN KEY (source_id) REFERENCES source(id)
)

 Et voici chaque colonnes:
 - officer
 - assoc_type
 - entity
 - source_id
 - start_date
 - end_date

Nom de la table: assoc_inter_entity

A complete table scheme :
CREATE TABLE assoc_inter_entity (
  inter INTEGER ,
  entity INTEGER,
  source_id INTEGER,
  FOREIGN KEY (inter) REFERENCES intermediary(id),
  FOREIGN KEY (entity) REFERENCES entity(id),
  FOREIGN KEY (source_id) REFERENCES source(id)
)

 Et voici chaque colonnes:
 - inter
 - entity
 - source_id

Nom de la table: assoc_officers

A complete table scheme :
CREATE TABLE assoc_officers (
  officer1 INTEGER ,
  assoc_type TEXT,
  officer2 INTEGER ,
  start_date DATE,
  end_date DATE,
FOREIGN KEY (officer1) REFERENCES officer(id),
FOREIGN KEY (officer2) REFERENCES officer(id)
)

 Et voici chaque colonnes:
 - officer1
 - assoc_type
 - officer2
 - start_date
 - end_date

Nom de la table: assoc_intermediaries

A complete table scheme :
CREATE TABLE assoc_intermediaries (
  interm1 INTEGER ,
  assoc_type TEXT,
  interm2 INTEGER ,
  start_date DATE,
  end_date DATE,
FOREIGN KEY (interm1) REFERENCES intermediary(id),
FOREIGN KEY (interm2) REFERENCES intermediary(id)
)

 Et voici chaque colonnes:
 - interm1
 - assoc_type
 - interm2
 - start_date
 - end_date

Nom de la table: assoc_entities

A complete table scheme :
CREATE TABLE assoc_entities (
  entity1 INTEGER ,
  assoc_type TEXT,
  entity2 INTEGER ,
  start_date DATE,
  end_date DATE,
FOREIGN KEY (entity1) REFERENCES entity(id),
FOREIGN KEY (entity2) REFERENCES entity(id)
)

 Et voici chaque colonnes:
 - entity1
 - assoc_type
 - entity2
 - start_date
 - end_date

Nom de la table: assoc_inter_offi

A complete table scheme :
CREATE TABLE assoc_inter_offi (
  inter INTEGER ,
  assoc_type TEXT,
  officer INTEGER,
  start_date DATE,
  end_date DATE,
  FOREIGN KEY (inter) REFERENCES intermediary(id),
  FOREIGN KEY (officer) REFERENCES officer(id)
)

 Et voici chaque colonnes:
 - inter
 - assoc_type
 - officer
 - start_date
 - end_date

Nom de la table: assoc_officer_interm

A complete table scheme :
CREATE TABLE assoc_officer_interm (
  officer INTEGER ,
  assoc_type TEXT,
  interm INTEGER,
  start_date DATE,
  end_date DATE,
  FOREIGN KEY (officer) REFERENCES officer(id),
  FOREIGN KEY (interm) REFERENCES intermediary(id)
)

 Et voici chaque colonnes:
 - officer
 - assoc_type
 - interm
 - start_date
 - end_date
Operation done successfully

# Combien la base de donn√©es contient-elle de soci√©t√©s offshores diff√©rentes dont la source est "Panama Papers" ?

In [13]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "Now there is {} different offshores societies getting Panama Papers as source."
# all tables
    cursor = conn.execute("SELECT count(entity.source) FROM entity WHERE source LIKE 'Panama%Papers';")
    for row in cursor:
        print(sentence.format(row[0]))

# Operators that works
#SELECT 
#    DISTINCT COUNT(source) id
#FROM 
#    entity 
#WHERE 
#    source = "Panama Papers";

#SELECT COUNT (DISTINCT name) FROM entity WHERE entity.source = 'Panama Papers' AND entity.name IS not NULL

Opened database successfully
Now there is 213634 different offshores societies getting Panama Papers as source.

'"\nSELECT \n    DISTINCT COUNT(source) id\nFROM \n    entity \nWHERE \n    source = "Panama Papers";\n\nSELECT COUNT (DISTINCT name) FROM entity WHERE entity.source = \'Panama Papers\' AND entity.name IS not NULL'

# Quel interm√©diaire a cr√©√© le plus de soci√©t√©s offshores ? A-t-on son adresse et son pays ?

In [33]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "Intermediairy that created the most number of offshores societies is {}. \nNow it created {} societies and is in {} {}."
# all tables
    cursor = conn.execute("SELECT intermediary.name, address.address, address.country_codes, count() FROM intermediary, address, assoc_inter_entity WHERE intermediary.id_address = address.id_address and assoc_inter_entity.inter = intermediary.id GROUP BY intermediary.id ORDER BY COUNT () DESC LIMIT 1;")
    for row in cursor:
        adress = " "
        adress = adress.join((row[1].replace(";", "").replace("[...]", "")).split(' ')[5:14])
        print(sentence.format(row[0], row[3] , adress, row[2]))

Opened database successfully
Intermediairy that created the most number of offshores societies is ORION HOUSE SERVICES (HK) LIMITED.
Now it created 7016 societies and is in ROOM 1401 14/F. WORLD COMMERCE  CENTRE TSUI KOWLOON Hong Kong.

Donovan LEFRANCOIS / F. LEGOUEZ

# Combien la base contient-elle de b√©n√©ficiaires avec un nom unique ? Quel est le b√©n√©ficiaire dont le nom revient le plus souvent ?

In [15]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "Number of officiers with unique name is {}."
# all tables
    cursor = conn.execute("SELECT COUNT(DISTINCT name) FROM officer;")
    for row in cursor:
        print(sentence.format(row[0]))
        
    sentence1 = "The most frequent officier is {}, with his name was written {} times in the table."
    cursor = conn.execute("SELECT count(DISTINCT(o.id)),o.name FROM officer AS o GROUP BY o.name ORDER BY count(DISTINCT(o.id)) DESC LIMIT 1;")
    for row in cursor:
        print(sentence1.format(row[1], row[0]))



#SELECT COUNT(DISTINCT name) FROM officer;
#SELECT name FROM officer GROUP BY name ORDER BY COUNT( * ) DESC LIMIT 1;

Opened database successfully
Number of officiers with unique name is 122590.
The most frequent officier is THE BEARER, with his name was written 70850 times in the table.

# Donner la liste des juridictions avec le nombre d'entreprises offshores enregistr√©es sur chaque territoire, tri√©e par ordre d√©croissant.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "Number of officiers with unique name is {}."
# all tables
    cursor = conn.execute("SELECT E.jurisdiction, count(E.id) FROM entity as E GROUP BY  E.jurisdiction ORDER BY COUNT(E.id) DESC;")
    for row in cursor:
        print(sentence.format(row[0]))

# Regrouper les soci√©t√©s offshores par statut, et trier la liste par ordre d√©croissant.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT entity.status, count(*)
FROM entity
GROUP BY entity.status
ORDER BY COUNT (entity.status) DESC;

# Trouver la liste des b√©n√©ficiaires dont le nom contient "BNP" et ajouter, pour chaque b√©n√©ficiaire, le nom des soci√©t√©s offshores.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT 
  officer.name,
  entity.name,
  count(*)
FROM officer, assoc_officer_entity, entity
WHERE 
  officer.name LIKE '%BNP%'  and
  officer.id = assoc_officer_entity.officer and
  assoc_officer_entity.entity = entity.id GROUP BY officer

# Trouver la liste des soci√©t√©s dont la juridiction est "France", "Monaco" ou "R√©union".

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT entity.name, entity.jurisdiction, entity.jurisdiction_description
FROM entity
WHERE entity.jurisdiction_description LIKE '%France%' OR entity.jurisdiction_description LIKE '%Monaco%' OR entity.jurisdiction_description LIKE '%Reunion%'

# Trouver la liste des soci√©t√©s dont le pays de l'adresse et le pays de la juridiction sont diff√©rents.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT 
  entity.name,
  entity.jurisdiction,
  address.countries
FROM entity, address
WHERE 
  entity.id_address=address.id_address and
  entity.jurisdiction!=address.countries

# Trouver la liste des b√©n√©ficiaires qui ont des soci√©t√©s au m√™me nom et enregistr√©e √† la m√™me date, trier la liste par odre d√©croissant.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT
  officer.name,
  count (*)
FROM officer, assoc_officer_entity, entity, assoc_entities
WHERE
  officer.id = assoc_officer_entity.officer and
  assoc_officer_entity.entity = entity.id and
  entity.id = assoc_entities.entity1
GROUP BY officer.name
ORDER BY COUNT(officer.name) DESC

# Donner la liste des interm√©diaires qui ont aussi √©t√© b√©n√©ficiaires, en ajoutant leur nom de b√©n√©ficiaire et leur adresse.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT
  intermediary.name,
  officer.name,
  address.address
FROM officer, assoc_inter_offi, intermediary, address
WHERE
  officer.id = assoc_inter_offi.officer and
  assoc_inter_offi.inter = intermediary.id and
  intermediary.id_address = address.id_address

# Donner le top 10 des b√©n√©ficiaires qui ont le plus d'identit√©s diff√©rentes (similar name and address) et le nombre d'identit√©s correspondant.

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT
    officer.name,
    count(*)    
    FROM assoc_officers, officer
    WHERE
      assoc_officers.assoc_type = "similar name and address as" and
      assoc_officers.officer1 = officer.id
    GROUP BY assoc_officers.officer1
    ORDER BY COUNT (*) DESC LIMIT 10.

# Donner le top 10 des b√©n√©ficiaires qui ont le plus de parts toujours valides dans des entreprises offshores (dont la date de fin n'est pas encore pass√©e).

In [ ]:
# the database connection
with sqlite3.connect('database_sqlite3/panamapapers.sqlite3') as conn:
    print("Opened database successfully")
    sentence = "{}."
# all tables
    cursor = conn.execute("")
    for row in cursor:
        print(sentence.format(row[0]))

SELECT
      officer.name,
      count(*)  
    FROM entity, officer, assoc_officer_entity
    WHERE
      officer.id = assoc_officer_entity.officer and
      assoc_officer_entity.entity = entity.id and
      entity.status = "Active"
    GROUP BY officer.id
    ORDER BY COUNT (*) DESC LIMIT 10.