### Rédige les requêtes SQL permettant d'obtenir les informations ci-dessous. 

Consigne importante : la requête doit se faire en une seule ligne de SQL et ne doit pas s'appuyer sur d'autres requêtes (notamment pas les requêtes précédentes).

# Récupérer tous les albums

In [ ]:
SELECT * FROM albums;

# Récupérer tous les albums dont le titre contient "Great" (indice)

In [ ]:
SELECT * FROM albums WHERE Title LIKE '%Great%';

# Donner le nombre total d'albums contenus dans la base (sans regarder les id bien sûr)

In [ ]:
SELECT * FROM albums SUM;

# Supprimer tous les albums dont le nom contient "music"

In [ ]:
DELETE FROM albums WHERE Title LIKE '%music' DEFERRABLE INITIALLY DEFERRED FOREIGN KEY;

# Récupérer tous les albums écrits par AC/DC

In [ ]:
SELECT Title 
FROM albums 
INNER JOIN artists 
ON albums.ArtistId = artists.ArtistId 
WHERE name LIKE '%AC/DC';

# Récupérer tous les titres des albums de AC/DC

In [ ]:
SELECT tracks.name
FROM artists
INNER JOIN albums ON albums.ArtistId = artists.ArtistId
INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId 
WHERE artists.Name LIKE '%AC/DC';

# Récupérer la liste des titres de l'album "Let There Be Rock"

In [ ]:
SELECT tracks.name
FROM albums
INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId 
WHERE albums.Title LIKE '%Let%There%be%Rock%';

# Afficher le prix de cet album ainsi que sa durée totale

In [ ]:
SELECT sum(tracks.UnitPrice)
FROM albums
INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId 
WHERE albums.Title LIKE '%Let%There%be%Rock%' ;

# Afficher le coût de l'intégralité de la discographie de "Deep Purple"

In [ ]:
SELECT SUM(tracks.UnitPrice)
FROM artists
INNER JOIN albums ON albums.ArtistId = artists.ArtistId
INNER JOIN tracks ON albums.AlbumId = tracks.AlbumId 
WHERE artists.Name LIKE '%Deep%Purple';

# Créer l'album de ton artiste favori en base, en renseignant correctement les trois tables albums, artists et tracks

In [ ]:
INSERT INTO artists (name)
VALUES ("Nightwish"); 
INSERT INTO albums (Title, ArtistId)
VALUES ("Once",  (SELECT ArtistId FROM artists WHERE name='Nightwish'));
INSERT INTO tracks (name,Milliseconds, UnitPrice, AlbumId, MediaTypeId, GenreId)
VALUES ("Ghost Love Score", 602000, 0.99,(SELECT AlbumId FROM albums WHERE Title='Once'), (SELECT MediaTypeId FROM media_types WHERE name='AAC audio file'),(SELECT GenreId FROM genres WHERE name='Metal')) ;