Voici la liste de questions auxquelles tu dois r√©pondre :
    
    
    
   
    
    Donner la liste des interm√©diaires qui ont aussi √©t√© b√©n√©ficiaires, en ajoutant leur nom de b√©n√©ficiaire et leur adresse.
    Donner le top 10 des b√©n√©ficiaires qui ont le plus d'identit√©s diff√©rentes (similar name and address) et le nombre d'identit√©s correspondant.
    Donner le top 10 des b√©n√©ficiaires qui ont le plus de parts toujours valides dans des entreprises offshores (dont la date de fin n'est pas encore pass√©e).
    Question bonus : r√©ussir √† retrouver dans la base au moins 3 personnalit√©s que tu connais (indice) üòéüòéüòé

# Combien la base de donn√©es contient-elle de soci√©t√©s offshores diff√©rentes dont la source est "Panama Papers" ?

In [ ]:
SELECT count(entity.source) FROM entity WHERE source like 'Panama%Papers'; 

SELECT DISTINCT COUNT(source) id FROM entity WHERE source = "Panama Papers";

SELECT COUNT (DISTINCT name) FROM entity WHERE entity.source = 'Panama Papers' AND entity.name IS not NULL

# Quel interm√©diaire a cr√©√© le plus de soci√©t√©s offshores ? A-t-on son adresse et son pays ?

In [ ]:
SELECT 
	i.name,
	i.id,
	e.name,
	count(*)
FROM 
	entity e,
	assoc_inter_entity a,
	intermediary i 
WHERE
	a.entity = e.id AND
	a.inter = i.id
GROUP BY  i.id, i.name
ORDER BY count(*) DESC LIMIT 1; -> pas d'adressse et pays

SELECT
  intermediary.name,
  address.address,
  address.country_codes,
  count()
FROM intermediary, address, assoc_inter_entity
WHERE 
  intermediary.id_address = address.id_address and
  assoc_inter_entity.inter = intermediary.id
GROUP BY intermediary.id
ORDER BY COUNT () DESC LIMIT 1

Donovan LEFRANCOIS

# Combien la base contient-elle de b√©n√©ficiaires avec un nom unique ? Quel est le b√©n√©ficiaire dont le nom revient le plus souvent ?

In [ ]:
SELECT COUNT(DISTINCT name) FROM officer;
SELECT name FROM officer GROUP BY name ORDER BY COUNT( * ) DESC LIMIT 1;

# Donner la liste des juridictions avec le nombre d'entreprises offshores enregistr√©es sur chaque territoire, tri√©e par ordre d√©croissant.

In [1]:
SELECT entity.jurisdiction_description, count(*)
FROM entity
GROUP BY entity.jurisdiction_description
ORDER BY COUNT (entity.jurisdiction_description) DESC;

SELECT entity.jurisdiction, entity.jurisdiction_description,
count(*) as nb_entity
FROM entity
GROUP BY jurisdiction
ORDER BY nb_entity DESC

SyntaxError: invalid syntax (<ipython-input-1-6921825d7cab>, line 1)

# Regrouper les soci√©t√©s offshores par statut, et trier la liste par ordre d√©croissant.

In [ ]:
SELECT entity.status, count(*)
FROM entity
GROUP BY entity.status
ORDER BY COUNT (entity.status) DESC;

# Trouver la liste des b√©n√©ficiaires dont le nom contient "BNP" et ajouter, pour chaque b√©n√©ficiaire, le nom des soci√©t√©s offshores.

In [2]:
SELECT 
  officer.name,
  entity.name,
  count(*)
FROM officer, assoc_officer_entity, entity
WHERE 
  officer.name LIKE '%BNP%'  and
  officer.id = assoc_officer_entity.officer and
  assoc_officer_entity.entity = entity.id GROUP BY officer

IndentationError: unexpected indent (<ipython-input-2-67a357811c4e>, line 2)

# Trouver la liste des soci√©t√©s dont la juridiction est "France", "Monaco" ou "R√©union".

In [ ]:
SELECT entity.name, entity.jurisdiction, entity.jurisdiction_description
FROM entity
WHERE entity.jurisdiction_description LIKE '%France%' OR entity.jurisdiction_description LIKE '%Monaco%' OR entity.jurisdiction_description LIKE '%Reunion%'

# Trouver la liste des soci√©t√©s dont le pays de l'adresse et le pays de la juridiction sont diff√©rents.

In [ ]:
SELECT 
  entity.name,
  entity.jurisdiction,
  address.countries
FROM entity, address
WHERE 
  entity.id_address=address.id_address and
  entity.jurisdiction!=address.countries

# Trouver la liste des b√©n√©ficiaires qui ont des soci√©t√©s au m√™me nom et enregistr√©e √† la m√™me date, trier la liste par odre d√©croissant.